@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.mainContainer, .mainContainer2, .mainStart4{
  /* font-family: "Raleway", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

.mainContainer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cardDiv2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 25px;
  border: 3px solid #4A00FF;
}

.categoryButton, .timeButton {
  padding: 8px 16px;
  border: 2px solid #4A00FF;
  background-color: white;
  color: #4A00FF;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.categoryButton.active, .timeButton.active {
  background-color: #4A00FF;
  color: white;
}

/* Hover effect for non-active buttons */
.categoryButton:not(.active):hover, .timeButton:not(.active):hover {
  background-color: white; /* Subtle grey background for hover */

}

.categoryButton:hover, .timeButton:hover {
  background-color: #4A00FF;
  
}



.feedTypeButton {
  padding: 8px 16px;
  border: 2px solid #4A00FF;
  background-color: white;
  color: #4A00FF;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.feedTypeButton.active {
  background-color: #4A00FF;
  color: white;
}

.profileTag {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  background-color: #4A00FF;
  color: white;
  border-radius: 8px;
  font-size: 0.9rem;
}

.removeProfileButton {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.profileInput {
  padding: 8px;
  border: 2px solid #4A00FF;
  border-radius: 8px;
  width: 200px;
}


.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100vh;
  background: linear-gradient(to right, #4A00FF, #8000FF); /* Cool gradient */
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
  border-top: 5px solid white; /* Solid top border for the spinning effect */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-message {
  font-size: 1.25rem;
  line-height: 1.5;
}

.spinner-message span {
  font-size: 1rem;
  opacity: 0.9;
  font-style: italic;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
